/*
@font-face {
	font-family: 'Sk-Modernist';
	src:url('../assets/fonts/SkModernist/Sk-Modernist-Regular.otf') format("opentype");
	font-weight:500;
	font-style: normal;
}
@font-face {
	font-family: 'Sk-Modernist';
	src:url('../assets/fonts/SkModernist/Sk-Modernist-Bold.otf') format("opentype");
	font-weight:700;
	font-style: normal;
}*/